<%= form_for(@gamecoholder) do |f| %>
  <% if @gamecoholder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gamecoholder.errors.count, "error") %> prohibited this gamecoholder from being saved:</h2>

      <ul>
      <% @gamecoholder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
