<p>桌球愛好者聯盟成績查核公告,</p>

<p>各位盟友，<%= @gamename %>比賽成績已開始公告查核作業。</p>
<p>請參賽盟友儘速前往以下網址查核您的出賽成績。 </p>
<p><%= link_to  '桌盟積分賽成績查核網頁', gamescorechecking_uploadgames_url %></p>
<p>如果您此次的比賽成績紀錄有誤，請儘速跟桌盟或主辦單位反應更正，以免影響正確的積分計算，謝謝配合。</p>
<p>桌球愛好者聯盟敬上  </p>

