<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p><%= @user.username %>球友您好,</p>

	<p>歡迎您成功註冊桌球愛好者聯盟積分系統，您的會員編號是<font color='red'><%= @user.id %></font>號。</p>
	<p>希望您多多參與桌盟所舉辦的各項活動及參與桌盟臉書的討論，期許大家共同達成"快樂打球、健康運動、以球會友"桌盟宗旨。 </p>
	<p>提醒您,如果您有FB帳號,可以透過設定FB帳號跟桌盟帳號聯結來使用FB登入，以省略多記一組帳號密碼的麻煩</p>
	<p>為方便我們在FB上聯繫相關事宜，FB帳號的設定務必正確，FB帳號不是您註冊或登入FB的信箱,也不是信箱@的英文，而是FB的姓名。</p>
	<p>如果您設定的FB帳號有誤,麻煩使用修改個人基本資料來修改。</p>
	<p> 請參考以下檔案聯結來做設定  <%= link_to "如何設定桌盟FB帳號聯結", "https://www.facebook.com/groups/LTTF.TW/574796325958889/"%> </p>
	<p>若您這次註冊非使用真實姓名，請馬上跟桌盟管理員聯絡並更正，否則您的桌盟帳號將會被註銷無法使用!謝謝合作 </p>
    <p>桌盟積分賽的積分計算規則,請參考 <%= link_to "桌盟積分賽規則說明網頁", 'www.twlttf.org'+lttfratinginfo_games_path %> </p>
	<p>桌球愛好者聯盟敬上  </p>
  </body>
</html>

