<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p>您好,</p>
	<p>桌盟積分系統已收到 <%=@gameholder.user.username%> 的積分賽主辦人申請,</p>
  <p>該球友的主辦場地為 <%=@gameholder.courtname%></p>
	<P>請儘速前往 <%= link_to  '桌盟主辦人審核網頁', approveprocess_gameholders_url %>進行審核</p>
  <p>桌球愛好者聯盟敬上</p>
 	
   </body>
</html>