<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p>您好,</p>
	<p><%=@gamename%>成績已成功上傳</p>
    <P>請儘速前往 <%= link_to '公告查核作業網頁', 'www.twlttf.org'+uploadgames_path %>進行公告查核作業</p>
    
	<p>桌球愛好者聯盟敬上</p>
 	
   </body>
</html>