<p>Hello <%= @resource.email %>!</p>

<p>有人請求重置您的桌球愛好者聯盟積分系統的密碼，請點選進入以下連結進行密碼變更作業。</p>

<p><%= link_to '變更密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果不是您本人的要求，請忽略此封郵件!</p>
<p>如果您沒有點選上述連結去完成密碼變更作業，您原本的密碼將不會被變更!</p>
