<head>
<% set_meta_tags :title => '桌球愛好者聯盟積分賽規則說明'%>
 

<style>
body {
    background-color: #c0c0c0;
}
h1, h2, h3, h4, h5, h6 {
        font-family: '標楷體' ; 
        text-align: center;
        color :red
    } 
  

.paragraph1 {
  font-family: '標楷體' ; 
  font-size: 20px;
  text-indent : 2em ;
  line-height: 24px;　　　          　/* 設定文字行距 */
  letter-spacing: 3px;
  color : blue ;
  }
.paragraph2 {
  font-family: '標楷體' ; 
  font-size: 20px;
  text-indent : 2em ;
  line-height: 24px;　　　          　/* 設定文字行距 */
  letter-spacing: 3px;
  color : red ;
  } 
.ownol {
    font-family: '標楷體' ; 
    color: blue ;
    padding: 5px 20px;
    font-size : 20px;
    line-height: 24px;　　　          　/* 設定文字行距 */
    letter-spacing: 3px;    

}
.ownul {
    font-family: '標楷體' ; 
    color: blue;
    padding: 5px 20px;
    font-size : 20px;
    line-height: 24px;　　　          　/* 設定文字行距 */
    letter-spacing: 3px;    

}   
</style>
</head>


<p align=center><%= link_to '返回前頁', :back %>  </p>


<h1>桌球愛好者聯盟桌球積分賽規則</h1>



<h2>一.  何謂桌球積分</h2>
<p class="paragraph1">
  目前世界各地業餘桌球界一般採用USATT(USA TABLE TENNIS)組織所訂定的一套利用各個球友積分的高低來評定桌球球友桌球實力的計算系統, 使用球友參加USATT所舉辦的比賽（積分賽）的對戰勝負關係來進行積分計算, 讓每一位球友參賽後都會取得積分, 可以讓球友們以此積分來作為不同球友球技高低的參考依據.  <br>
</p1>
<p class="paragraph1" > 
  桌球愛好者聯盟的桌球積分系統即是根據USATT的制度, 配合台灣地區目前桌球積分賽參賽球友的生態稍做修改, 而產生的桌球積分計算系統.  
</p>  

<h2>二.  積分如何產生及更新</h2>

<p class="paragraph1" >
   對於已取得積分的球友, 在每場納入積分計賽的賽事之後, 積分計算系統會依據該場賽會中, 各個球友的對戰勝負紀錄來計算賽後積分的增減, 請參考對戰對手勝負積分增減表.  <br><br>
</p>
<p class="paragraph1" >   
   對於首次參賽的球友, 於第一次參賽後, 在納入積分計算前,該場比賽主辦人可視該球友比賽的狀況給予建議積分, 或者是系統後台操作人員會參考該球員該場比賽的所有對戰勝負成績賦予該球友賽前調整積分, 然後先以該球員的暫時賽前積分與整場參賽球友進行積分試算. 
   <br>
   後台操作人員得以於試算過程中持續調整賽前積分至合理值, 然後讓該球友以該合理賽前積分來與整場其他參賽球友進行最後的積分計算, 並產生該場比賽所有球友的賽後積分！<br><br>
</p>
<p class="paragraph2">   
   USATT近期針對積分的計算新增一動態的調整機制, 針對賽後積分試算後若發現有球友試算結果積分增加超過49分者, 則需先動態調整該球員分數(上調)後,再使用該球友調整後的賽前積分與該場其他參賽球友進行積分增減計算, 此修正方式可解決原先系統漏洞, 避免賽前積分被低估的球友, 因採用被低估的積分來計算, 而導致整體球友積分偏低的失真現象.   <br><br>
</p>
<p class="paragraph2">   
   桌盟的積分系統也已導入USATT的此種調整程序, 加上初始積分的設定統一控管, 不允許球友任意重新更改自己的積分等方式, 來解決積分賽參賽球友積分越打越低的問題   <br><br>
</p>
 <p  class="paragraph1">   
   積分賽場次越多, 參賽球友的人數越多, 則整體球友的積分數據也就會越有參考價值.  <br><br>
</p> 
 
<h2>三.  積分計算流程說明</h2>

   <h4>桌盟積分系統是根據USATT最新的公佈的積分計算準則來設計(可參考USATT的相關說明網頁 <a href="https://www.teamusa.org/usa-table-tennis/ratings/rating-system?fbclid=IwAR2Ok0PdlNrXU4cyqM7kmZhZzSvqo8kQWe3jO0j-Znn5QIg9UQ56r_B6J5M" target="_blank">USATT積分計算規則</a>, 積分的算法原則如下：</h4>
    <ol class="ownol">
       <li>積分計算會按照各賽事成績上傳至桌盟積分系統的順序來進行計算及更新.  <br><br></li> 
     
       <li>球友積分的增減會以該球友該場賽事所有的勝負場次來計算, 就是說不是打完一個人算一次, 然後再用跟前一個球友打完後所產生的新積分去計算下一場對戰後的積分, 而是將整場參賽後的所有勝負紀錄來計算積分增減.  <br><br></li>  
       <li>如果一個球友Ａ在一場比賽中擊敗許多高出他積分許多的球友, 那麼在計算該場比賽所有球友的積分增減時, 必須先將Ａ的賽前積分先向上修正調整後, 再進行該場比賽的積分計算. <br> 
       這樣做是為了避免因為A的賽前積分被低估, 而導致其他球友積分因爲被A錯誤的低估積分而被扣分, 所造成的整體積分被拉低的情形,   
       因為A已經在這場比賽中靠著擊敗許多比他更高分的球友來證明他的原先積分明顯偏低而有調整的必要性.  <br><br>
       </li>   
       <li>新進無積分球友的積分會在第一次參賽後, 依據他跟其他球友的勝負紀錄來賦予初始積分.  <br><br></li>  
       <li>每位球友每場賽事後的增減積分會根據對手的賽前積分來進行計算, 計算的準則請參考對戰對手勝負積分增減表.  <br><br></li> 
    </ol>
  <div class="table-responsive datagrid">
    <table class="table-bordered table-condensed" >
      <caption class="text-center"><strong>USATT/桌盟積分賽 對戰對手勝負積分增減表</strong></caption>
      <thead>
        <tr class="warning">
          <th align=center>對戰選手積分差距</th>
          <th align=center>高積分者勝<br>勝方(高積分)加分/負方(低積分)扣分</th> 
          <th align=center>低積分者勝<br>勝方(低積分)加分/負方(高積分)扣分</th>
        </tr> 
        <tr class="warning">
          <td class="text-center">0 ~ 12</td>
          <td class="text-center">8</td>
          <td class="text-center">8</td> 
        </tr> 
        <tr>
          <td class="text-center">13 ~ 37</td>
          <td class="text-center">7</td>
          <td class="text-center">10</td> 
        </tr> 
        <tr>
          <td class="text-center">38 ~ 62</td>
          <td class="text-center">6</td>
          <td class="text-center">13</td> 
        </tr> 
        <tr>
          <td class="text-center">63 ~ 87</td>
          <td class="text-center">5</td>
          <td class="text-center">16</td> 
        </tr> 
        <tr>
          <td class="text-center">88 ~ 112</td>
          <td class="text-center">4</td>
          <td class="text-center">20</td> 
        </tr> 
        <tr>
          <td class="text-center">113 ~ 137</td>
          <td class="text-center">3</td>
          <td class="text-center">25</td> 
        </tr>
        <tr>
          <td class="text-center">138 ~ 162</td>
          <td class="text-center">2</td>
          <td class="text-center">30</td> 
        </tr>
        <tr>
          <td class="text-center">163 ~ 187</td>
          <td class="text-center">2</td>
          <td class="text-center">35</td> 
        </tr>
        <tr>
          <td class="text-center">188 ~ 212</td>
          <td class="text-center">1</td>
          <td class="text-center">40</td> 
        </tr>
        <tr>
          <td class="text-center">213 ~ 237</td>
          <td class="text-center">1</td>
          <td class="text-center">45</td> 
        </tr>
        <tr>
          <td class="text-center">238以上</td>
          <td class="text-center">0</td>
          <td class="text-center">50</td> 
        </tr>                                                                         
      </thead> 
       
    </table>  
   </div> 
   <br><br>

    <h2>賽後積分計算程序說明</h2><br>
  
    <h3>USATT規定賽後積分計算有四道流程</h3><br>
    <ol class="ownol">
      <li>第一道程序：先找出需調整的球友, 進行賽前積分的調整.   需調整的球友需分兩回來處理<br><br>
        <ul class="ownul" class="ownul">
          <li>第一回：先找出賽後加分50～～74的球友, 將他們的賽前積分先往上調整為原試算後的賽後積分.  <br><br></li>
  
    
           <li>第二回：找出賽後加分超過的75分的球友, 進行調整.  
              
                   至於加分超過75分的球友積分要如何調整呢？<br><br> 
                   USATT雖有三項條文說明, 但是桌盟的系統有稍微不同, 以下會再說明.  <br><br>
                   <ul class="ownul" >
                     <li>
                      (a). 如果一個球友全勝或全負, 該球友的調整積分是取自該球友所有賽事的隱含平均積分, 隱含積分的計算就根據與該球友對戰的所有球友的賽前積分的平均分數來當作此球友之賽前積分及並依增減表的公式來計算. <br> <br>
                    這條有點奇怪,如果加分超過75分,根本不可能有全輸的情況產生.  所以在此一狀況,應只考慮全勝的情況就好.  <br><br> 
                    此外使用這種方式取得的隱含積分在桌盟的系統並不適用, 因為USATT的積分巡迴賽每一級距都會有高低分的限制, 因此所算出的隱含積分必然會在該級距的高低限制積分之內.<br>
                    但是桌盟或台灣目前的積分賽生態, 往往都只限制最高分, 會造成用此算法取得的隱含積分過低, 而無法獲得真正該有的效果, 所以對於全勝者, 桌盟的系統作法如下, 先取該球友所取勝的球友中之最高積分者之積分, 來當作該球友的賽前積分來進行試算, 根據試算候積分增減的結果, 再看看是否需再向上調整賽前積分(加分超過50分的話).  <br><br>
                     </li>
                     <li>
                        (b). 如果該球友於本賽事中有勝有負, 則調整積分取自該球友賽前積分, 與他所勝最高分及他所輸的最低分三者的平均值當作調整積分.  <br><br>
                     </li>
                     <li>(c). 所有球友的調整積分 (不論是從a或b得來之調整積分)不得低於該球友的賽前積分, 如果低於該球友原賽前積分, 那就單純用第一回所產生的調整積分來當作調整最後的調整積分.  <br><br>
                   </li>
                   </ul> 
             </li>      
         </ul> 
         </li>          
        <li>第二道程序： 找出尚無積分之第一次參賽者賦予初始積分<br><br>
                  <ul class="ownul">
                    <li>
                      (a).  對第一次參賽的無積分球員, 可由主辦單位或USATT的官方賦予初始積分, 或根據該球員於該場賽事之已有積分之球友對戰勝負成績, 用數學計算的方式來賦予初始積分.
                      這個數學計算的方式如下：<br>
                      如果一個球友全勝或全負, 該球友的調整積分是取自該球友所有賽事的隱含平均積分.<br> 隱含積分的計算就是根據與該球友對戰的所有球友的賽前積分的平均分數來當作此球友之賽前積分及並依增減表的公式來計算. <br> 如果該球員於該賽事全敗, 則賽前積分不得高於他所落敗的最低球友之積分. <br> 
                      此外使用這種方式取得的隱含積分在桌盟的系統跟前面提及的一樣, 對於全勝者, 並不適用於台灣. <br>

                      因為USATT的積分巡迴賽每一級距都會有高低分的限制, 因此所算出的隱含積分必然會在該級距的高低限制積分之內, 但是桌盟或台灣目前的積分賽生態, 往往都只限制最高分, 會造成用此算法取得的隱含積分過低, 而無法獲得真正該有的效果. <br>所以全勝者, 桌盟的系統會先取該球友所取勝的球友中之最高積分者之積分來當作該球友的賽前積分來進試算, 全敗者也會先取他所落敗的最低球員積分來當作賽前調整積分來進行積分式算.   <br><br>
                    </li>  
                    <li>
                      (b). 如果該球友於本賽事中有勝有負, 則調整積分取自該球友他所勝最高分及他所輸的最低分二者的平均值當作調整積分.  <br><br>
                    </li>
                    <li>
                      (c). 所有球友的調整積分 (不論是從a或b得來之調整積分）均不得低於75分.  也就是說最低初始積分為75分, 不得更低.  <br><br>
                    </li>
                  </ul>  

      </li>              
      <li>  第三道程序：
  
                  經過第一道及第二道程序後, 依據第一道程序的原則重新檢視所有參賽者的積分試算結果並對需調整賽前積分者再進行調整.  應該是調整試算直到發現沒有需要再做調整的球員為止.  <br><br>
      </li>           
       <li> 第四道程序: 將第三道程序後產生的最後結果更新所有參賽球友的積分.   <br><br>
       </li>  
  </ol>        
<p class="paragraph2">
  桌盟積分賽的積分計算系統原則上承襲USATT的積分計算準則, 只是在對參賽全勝後需調整積分者的調整方式, 及無積分者且全勝或全敗者的初始積分賦予方式稍有不同,但是這都可以藉有第一道程序的修正而調整,使得賽後積分可以更接近參賽者實際的桌球程度.  <br><br><br>
</p>  

<h2>四.  如何參加桌盟積分賽？</h2>
<ol class="ownol">
<li>
欲參加桌盟積分賽取得個人的桌盟積分, 首先必須先前往<a href="http://www.twlttf.org" target="_blank"> 桌球愛好者聯盟網站</a>註冊成為網站會員, 成為桌盟積分賽網站的會員後, 可查詢該網站上的所登錄的各項賽事, 如果符合各賽事規定的參賽資格得可以報名該賽事!<br><br>
</li>

<li>註冊桌盟網站請務必使用本人中文本名並輸入電話號碼,初始積分可填入本人曾經取得的業餘桌球好手之家積分系統的參考積分, 如果沒有的話請填入0分！ 0分者可報名任何一場賽事, 系統工作人員會在第一場賽事後根據出賽的成績賦初始積分!<br><br>
</li>
<li>忘記密碼者請使用登入畫面的忘記密碼功能, 重新設置密碼, 如果忘記當初註冊的電子信箱, 麻煩跟桌盟管理員聯絡, 請不要重複註冊,以免造成困擾!<br><br>

</li>  
<li>
為方便使用, 桌盟積分賽系統可於註冊完成後, 設定與ＦＢ帳號連結, 之後便可使用ＦＢ帳號登入桌盟積分系統.  <br><br>
</li>
<li>
  報名參加積分賽的球友請務必準時參賽,  如果無法參賽,請於比賽前一日前前往原賽事報名網頁取消報名, 以方便主辦人安排賽程, 若無故缺賽, 主辦人有權將之列入黑名單, 被該主辦人列入黑名單者, 將不得再報名該主辦人舉辦之賽事！<br><br>
</li> 
<li>
  比賽完成, 主辦人完成上傳賽事成績後, 系統會發出賽事紀錄查核通知郵件, 參賽者請務必核對本人該場賽事之比賽成績, 如有錯誤請馬上跟主辦人或桌盟反應更正, 若24小時內無人反應紀錄有誤, 則系統會進行積分更新作業, 並會寄發電子郵件通知所有參賽者更新後的最新積分.<br><br>
</li> 
<li>
桌盟積分系統增加星星分級標示,針對參賽場數越多者給予越多顆星的評價,最高為5顆星,表示球友出賽場次大於100場.
分級標準如下:<br>
   少於5場比賽者0顆星<br>
   參加過5-9場者ㄧ顆星<br>
   10-19場者二顆星<br>
   20-49場者三顆星<br>
   50-99場者四顆星<br>
   100場以上者為五顆星<br>
</li>
 <br>
<li>
  分組循環賽時,若有三人或多人以上互咬(勝場數相同)時, 先採用「勝局總和/負局總和」商數大者勝出，如果前項數值還有相同時再以「得分總和/失分總和」商數大者勝出.<br>
  可參考以下詳細說明 <a href="https://docs.google.com/gview?url=http://www.twlttf.org/files/三人互咬判定規則.pdf&embedded=true"> 分組循環賽三人(多人)互咬狀況下之勝負判定規則說明</a> 
</li>
</ol>

<p align=center><%= link_to '返回前頁', :back %>  </p>



