<% set_meta_tags :site => '桌球愛好者聯盟',:title=>'桌盟積分賽主辦人操作示範視頻',   :description => '桌球愛好者聯盟積分賽系統',
    :og => { :title =>'桌盟積分賽主辦人操作示範視頻'  , :image => 'http://twlttf.org/LTTF_logo.png', :description =>'歡迎球友參考如何操作桌盟比賽主辦系統', :url=> 'http://www.twlttf.org/lttfproject/gameholders/demos'} %>
 <link rel="canonical" href= 'http://www.twlttf.org/lttfproject/gameholders/demos' />    
<div class="container">
  <div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 style="margin: 0 auto;text-align:center;" ><font color=blue >桌盟積分賽主辦人操作示範視頻</font></h1>
      <br>
      <h1 style="margin: 0 auto;text-align:center;" ><font color=blue > <%= link_to "桌球愛好者聯盟積分賽系統登錄新比賽示範","https://youtu.be/EIp_aaJQQRc" %></font></h1>
      <br>
       <h1 style="margin: 0 auto;text-align:center;" ><font color=blue ><%= link_to "比賽分組設定及成績輸入及上傳示範","https://youtu.be/koqrEGCYvJI" %></font></h1>
      <br>
       <h1 style="margin: 0 auto;text-align:center;" ><font color=blue > <%= link_to "列印空白出賽單示範","https://youtu.be/cHYNDjroG_k" %></font></h1>

      <br>
    </div>
  </div>
</div>


