<%= form_for(@playerprofile) do |f| %>
  <% if @playerprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playerprofile.errors.count, "error") %> prohibited this playerprofile from being saved:</h2>

      <ul>
      <% @playerprofile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
