

    <div class="hidden-lg">
      <!div class="top-buffer"><!/div>
      <br><br>
    </div>
    <div class="jumbotron">
      <div class="container" >

        <h2 class="hidden-xs hidden-md hidden-sm hidden-phone hidden-tablet visible-desktop" ><img src="images/lttftitle.jpg" height='80' >快樂打球、健康運動、以球會友</h2>
          
        <!h2 class="hidden-phone hidden-xs visible-tablet" align ="center"><!/h2>
         
      </div> <!-- /.container -->
    </div> <!-- /.jumbotron -->
   

   
    <div class="container">

      <div class="row">
         <div class="col-md-12 col-sm-12 visible-xs visible-phone visible-md visible-tablet hidden-desktop hidden-lg feature-text">
          <img src="images/lttftitle.jpg"  height="150" width="100%"><br>
           <h4 align ="center" >快樂打球、健康運動、以球會友<h4>
          <div class="spacer"></div>
         </div> 
        <div class="col-md-4 col-sm-6 feature-text">
          <h3>桌球愛好者聯盟積分賽</h3>
          <p>
            使用桌盟自行開發的桌球積分賽系統，用來提供桌盟會員衡量自身球技是否進步的一項工具。
            但是期望大家不要把輸贏及積分高低起伏看的太重，秉持快樂打球的意念，平常心來看待即可。
          </p>
          <p>
            想要參與桌盟積分賽及各項桌盟球聚比賽等活動，請先註冊成為桌盟會員才可參加。桌盟積分賽系統是完全免費
            的系統，除了歡迎大家註冊之外，更歡迎加入主辦人行列，主動使用桌盟積分系統來主辦比賽計算積分，桌盟完全不收任何費用，
            但是希望球友報名費用需低於100元以嘉惠球友。
          </p>
           <p>
             <font color='red'><%= link_to '>>桌盟積分賽查詢及報名', lttfgamesindex_gamesmaps_path %></font>
          </p>
          <p>
             <font color='red'><%= link_to '>>前往桌盟球友積分總表', playerprofiles_path %></font>
          </p>  
        </div> <!-- /.feature-text -->
         <div class="col-md-8 col-sm-6">
          <img src="images/lttfscoregame.jpg" class="feature-photo">
           <img src="images/gamesphoto.jpg" class="feature-photo">
        </div> <!-- /.col-md-8 -->
      </div> <!-- /.row -->
      <br>
      <div class="row">
        <div class="col-md-4 col-sm-6 feature-text">
          <h3>台灣打桌球地圖</h3>
          <p>
            這是由桌球愛好者聯盟所有盟友搜集及回報全台各地打桌球場地的資訊，用來提供給球友找尋打球場地的重要參考資料。
            場地資訊使用地圖方式呈現，並儘可能提供詳細的說明資料，而且持續更新及維護，期望可以提供所有球友最新最豐富的桌球場地資訊!也歡迎所有球友補充及提供更多的場地資訊。
          </p>
          <p>
            如果想補充或更新場地打桌球地圖內場地資料的球友，歡迎前往臉書<%= link_to '桌球愛好者聯盟', "https://www.facebook.com/groups/LTTF.TW/" %>留言提供相關訊息。
          </p>
          <p>
             <%= link_to '>>查看台灣打桌球地圖', ttcourts_path %> 
          </p>
        </div> <!-- /.feature-text -->
        <div class="col-md-8 col-sm-6">
          <img src="images/courtsmap.jpg" class="feature-photo">
        </div> <!-- /.col-md-8 -->
      </div> <!-- /.row -->
  

   

    <!--
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
    -->
