/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 */
 //= require common

 @font-face {
   font-family: 'Glyphicons Halflings';
   src: asset-url ('glyphicons-halflings-regular.eot');
   src: asset-url ('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        asset-url ('glyphicons-halflings-regular.woff') format('woff'),
        asset-url ('glyphicons-halflings-regular.ttf') format('truetype'),
        asset-url ('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
 }
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");