.datagrid table { border-collapse: collapse; text-align: center; width: 100%; }
.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif;color: blue; background: #fff; overflow: hidden; border: 1px solid #59C24B; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.datagrid table td, .datagrid table th { padding: 3px 10px; }
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #59C24B), color-stop(1, #4FAB41) );background:-moz-linear-gradient( center top, #59C24B 5%, #4FAB41 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#59C24B', endColorstr='#4FAB41');background-color:#59C24B; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #DBF2D8; text-align:center; padding-top:8px; padding-bottom: 8px;}
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #4E5953; border-left: 1px solid #DBF2D8;font-size: 14px;border-bottom: 1px solid #66DE56;font-weight: normal; text-align:center; padding-top:8px; padding-bottom: 8px;}
.datagrid table tbody .alt td { background: #DFFFDE; color: #82948A; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tbody tr:nth-child(odd) { background-color: #E5E8E7; }
.datagrid table tfoot td div { border-top: 1px solid #59C24B;background: #DFFFDE;}
.datagrid table tfoot td { padding: 0; font-size: 12px }
.datagrid table tfoot td div{ padding: 2px; }
.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.datagrid table tfoot  li { display: inline; }
.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #59C24B;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #59C24B), color-stop(1, #4FAB41) );background:-moz-linear-gradient( center top, #59C24B 5%, #4FAB41 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#59C24B', endColorstr='#4FAB41');background-color:#59C24B; }
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #4FAB41; color: #FFFFFF; background: none; background-color:#59C24B;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }
.datagrid table tbody td { text-align: center;color:#3A01DF;}
.datagrid table caption  { text-align: center;color:#3A01DF;height:25px;font-size: 20px;padding-top: 2px}
.datagrid table thead th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.datagrid table thead th .asc {
  background-image: url(/images/up_arrow.gif);
}

.datagrid table thead th .desc {
  background-image: url(/images/down_arrow.gif);
}


.table-responsive
{
      
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
       border: 1px solid #ddd;
        
    > .table {
      margin-bottom: 0;
      background-color: #fff;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
             }
           }
       }
   }
}