
/*Div Class=TableFormat_1*/
div.TableFormat_1 table, th, td {
    border: 1px solid #D4E0EE;
    border-collapse:collapse;
    font-size: large;
    color: #002e5b;
    margin: 0 auto;
    vertical-align:middle;
    border-top-left:2px;
    border-top-right:2px;
}
div.TableFormat_1 table.row0 {
    background-color: #E6EDF5; 
}
div.TableFormat_1 table.row1 {
    background-color: white; 
}
div.TableFormat_1 caption {
    margin:0px;
    padding:4px;
    font-size: x-large;
    text-align:center;
    background-color:#002e5b;
    color:white;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
div.TableFormat_1 tfoot th {
    background: #8BA8C7;
    color: white;
    font-weight: bold;
}
div.TableFormat_1 td, th {
    padding: 0px;
    text-align:center;
    white-space:nowrap; 
    vertical-align:middle;
    /*font-size:16px;*/
    color:blue;
}
div.TableFormat_1 th {
    margin:0px;
    background: #4F76A3;
    color: white;
    font-weight: bold;
    text-align:center;
    font-size:12px;
}

div.TableFormat_1 td.summery {
    text-align:center;
    padding-right:4px;
    font-size:16px;
    line-height: 24px

}
div.TableFormat_1 td.adjustscore{
    padding: 0px;
    text-align:left;
    white-space:nowrap; 
    vertical-align:middle;
    font-size:16px;
    color:red;
    width:20%;

}
div.TableFormat_1  tr.odd {
    background-color: #E6EDF5; 
}
div.TableFormat_1  tr.even, tr {
    background-color: white; 
}
div.TableFormat_1  tr.row0 {
    background-color: #E6EDF5; 
    border: 4px solid #D4E0EE;
}
div.TableFormat_1  tr.row1 {
    border: 4px solid #D4E0EE;
    background-color: white; 
}
div.TableFormat_1 a, a:visited {
    color:#4F76A3;
}
div.TableFormat_1 a:hover {
    color:orange;
    background-color:transparent;
    border-width:0px;
    border-style:none;
}
/*常用*/
div.TableFormat_1 td.wrap {
    white-space:normal;
}
div.TableFormat_1 td.left {
    text-align:left;
}
div.TableFormat_1 td.right {
    text-align:right;
}
div.TableFormat_1 caption a {
    color:white;
}
div.TableFormat_1 caption a:hover {
    color:orange;
    text-decoration:underline;
     font-size: x-large;
}

/*Cup_Default.aspx*/
div.TableFormat_1 td.CupNewsContent {
    padding-bottom:10px;
    padding-left:10px;
}
div.TableFormat_1 td.DivEntity_Item {
    height:24px;
    line-height:24px;
    vertical-align:middle;
}
div.TableFormat_1 td.CupEventTime {
    font-size:small;
}

/*Cup_DivEntity*/
div.TableFormat_1 td.DivEntity_Staff {
    background-color:#4F76A3;
    color:white;
    padding-left:8px;
    padding-right:8px;
    white-space:nowrap;
    width:160px;
}
div.TableFormat_1 td.DivEntity_TeamTitle {
    text-align:center;
    font-size:20px;
}
div.TableFormat_1 td.DivEntity_TeamTitle_Light {
    text-align:center;
    font-size:20px;
}
div.TableFormat_1 td.DivEntity_TeamTitle_Light a {
    color:#b5cae2;
}
div.TableFormat_1 td.DivEntity_TeamTitle_Light a:hover {
    font-size:20px;
    color:orange;
}
div.TableFormat_1 td.DivEntity_TeamTitle a:hover {
    font-size:20px;
}
div.TableFormat_1 td.DivEntity_Player {
    font-size:x-large;
}
div.TableFormat_1 td.DivEntity_Player a:hover {
        font-size:x-large;
}

/*Cup_DivMatch*/

div.TableFormat_1 td.Match_WinEntity a, a:hover {
    /*font-size:large;*/
    text-align:center;


}
div.TableFormat_1 td.sameEntity {
    background-color:#deecfb;
}


/*  MatchResult */
div.MatchResult table {
    border: 1px solid #D4E0EE;
    padding:4px;
    vertical-align:center;
}
div.MatchResult td {
    padding:4px;
}
div.MatchResult th {
    margin:0px;
    background: #4F76A3;
    color: white;
    font-weight: bold;
    text-align:left;
    width: 100%;
    font-size:12px;
    margin: 0 auto;
}
div.MatchResult td.TeamName {
    text-align:left;
    padding-right:1px;
    font-size:14px;
     width:20%;

}
div.MatchResult td.TeamName_winEntity {
    text-align:left;
    padding-right:1px;
    font-size:14px;
    background-color:#deecfb;
}
div.MatchResult td.Score {
    width:10%;
    border: 5px solid #1;

}
div.MatchResult td.Score_Win {
    color:red;
    width:10%;
}
div.MatchResult td.Score_Loss {
    width:10%;
}
div.MatchResult td.Final {
    width:10%;
    background-color:#FEFFCD;
    font-size:large;
}
div.MatchResult td.Final_Win {
    width:10%;
    background-color:#FEFFCD;
    font-size:large;
    color:red;
}div.MatchResult td.Final_Loss {
    width:10%;
    background-color:#FEFFCD;
    font-size:large;
}
div.MatchResult td.sameEntity {
    background-color:#deecfb;
    font-size:large;
    text-align:left;
}
div.MatchResult table.row0 {
    background-color: #E6EDF5; 
}
div.MatchResult table.row1 {
    background-color: white; 
}
/*其他類別*/
div.TableFormat_1 tr.win {
    background-color:#FFCDFE; 
}
div.TableFormat_1 td.Match_Num {
    width:15%;
    color:#a72a33;
    font-size:12px;

}
div.TableFormat_1 td.Match_Place, td.Match_Date, td.Match_Note {
    font-size:medium;
}
div.TableFormat_1 td span.boy {
    color:blue;
}
div.TableFormat_1 td span.girl {
    color:red;
}
div.TableFormat_1 td.lightForeColor{
    color:lightblue;
}






