<div id="footer">
  <div class="container">
  	<p class="text-muted">如有任何問題請洽：李昆展 (0918866129 , allen866129@gmail.com) </p>
    <p class="text-muted">Copyright @2017
      <%= Setting.app_name %>
      All rights reserved.</p>

  
  </div>
</div>
